@page
@model FS.FruitStore.Pages.Admin.Products.IndexModel
@{
    ViewData["Title"] = "مدیریت محصول";
}


<div class="row">
    <partial name="_Panel" />

    <div class="col-lg-9 col-12">


        <div class="card-body">

            <div class="card mb-5 mt-2 pb-4 text-center">
                <div class="card-header d-flex">
                    <a href="Products/Create" class="btn btn-primary text-right">
                        <i class="fa fa-plus"></i> اضافه
                        کردن محصول
                    </a>
                    <h4 class="h4 text-center m-auto"> مدیریت محصول </h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered text-center table-hover mt-4 table-responsive-sm">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center"> عکس </th>
                                <th class="text-center"> نام </th>
                                <th class="text-center"> قیمت </th>
                                <th class="text-center"> تعداد </th>
                                <th class="text-center"> وضعیت </th>
                                <th class="text-center"> مدیریت </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Product.Any())
                            {
                                @foreach (var item in Model.Product)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <img src="~/ProductImages/@item.ProductPic" alt="product-image" width="50px" height="50px">
                                        </td>
                                        <td class="text-center"> @item.Name </td>
                                        <td class="text-center"> @item.Price.ToToman() </td>
                                        <td class="text-center"> @item.Count </td>
                                        <td class="text-center @(item.isVerified ? " text-success" : "text-danger font-weight-bold") "> @(item.isVerified ? "فعال" : "غیرفعال") </td>
                                        <td class="text-center">

                                            <a asp-page="Delete" asp-route-Id="@item.ProductId"> <i class="fa fa-trash"></i> </a>
                                            <a asp-page="Edit" asp-route-Id="@item.ProductId"> <i class="fa fa-edit"></i> </a>
                                            <a asp-page="Details" asp-route-Id="@item.ProductId"> <i class="fa fa-list"></i> </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>