@page
@model FS.FruitStore.Pages.Admin.Products.verifyProductsModel

<div class="container">
    <div class="row">
        @Html.Partial("_Panel")

        <div class="col-lg-9 col-12">
            <div class="card my-5 pb-4 text-center">
                <div class="card-header d-flex">




                    <h4 class="h4 text-center m-auto">محصولات در انتظار بررسی</h4>

                    <a asp-page="Index" class="btn btn-info text-right">
                        <i class="fa fa-list"></i> بازگشت
                    </a>
                </div>
                <div class="card-body">
                    <form method="get">
                        <div class="row my-2">
                            <div class="col-lg-4 col-md-4 col-12">
                                <input type="text" name="searchName" placeholder="نام" class="form-control my-sm-1 my-lg-0" />
                            </div>

                            <button type="submit" class="btn btn-info col-lg-3 col-md-3 col-12 my-sm-1 my-lg-0">
                                بیاب
                            </button>
                        </div>
                    </form>
                    <table class="table table-bordered text-center table-hover tabel-responsive-sm">
                        <thead class="thead-light">
                            <tr>
                                <th> عکس </th>
                                <th> نام </th>
                                <th> قیمت </th>
                                <th> تعداد </th>
                                <th>   </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProductsListViewModel.Products)
                            {
                                <tr>
                                    <td>
                                        <img src="~/ProductImages/@item.ProductPic" alt="product-image" width="50px" height="50px">
                                    </td>
                                    <td> @item.Name </td>
                                    <td> @item.Price.ToToman() </td>
                                    <td>@item.Count </td>
                                    <td>
                                        <a asp-page="Delete" asp-route-Id="@item.ProductId" asp-route-returnUrl="@Url.Page("verifyProducts")"> <i class="fa fa-trash"></i> </a>
                                        <a asp-page="Edit" asp-route-Id="@item.ProductId" asp-route-returnUrl="@Url.Page("verifyProducts")"> <i class="fa fa-edit"></i> </a>
                                        <a asp-page="Details" asp-route-Id="@item.ProductId" asp-route-returnUrl="@Url.Page("verifyProducts")"> <i class="fa fa-list"></i> </a>
                                    </td>
                                </tr>
                            }

                        <td colspan="5" class="text-center">
                            <div page-model="@Model.ProductsListViewModel.PagingInfo"
                                 page-action="Index"
                                 page-class="btn border"
                                 page-class-selected="btn btn-info active"
                                 page-class-normal="btn btn-light"
                                 class="btn-group">
                            </div>
                        </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
