@page
@using Utilities.Convertors;
@model FS.FruitStore.Pages.Wallet.IndexModel
@{
}

<div class="row mt-5">
    <!-- #region پنل-->
    <partial name="_Panel" />
    <!-- #endregion -->
    <div class="col-lg-9 col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="text-dark text-center"> کیف پول </h4>
            </div>
            <div class="card-body pt-2">
                <div class="display-lg-flex display-md-block justify-content-between">
                    <h2 class="text-dark mb-2"> موجودی فعلی کیف پول  : <span> @Model.UserWalletVM.ApplicationUser.WalletAmount </span> </h2>
                    <div class="btns">
                        <button asp-page="History" class="btn btn-secondary"> تاریخچه </button>
                        <button asp-page="Charge" class="btn btn-success"> شارژ </button>
                    </div>
                </div>
                <h4 class="text-dark h4 mt-3 mb-4"> تراکنش های اخیر </h4>
                <table class="table table-bordered table-hover table-striped table-responsive-sm">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center"> شماره فاکتور </th>
                            <th class="text-center"> مبلغ کل </th>
                            <th class="text-center"> تاریخ پرداخت </th>
                            <th class="text-center"> نوع </th>
                            <th class="text-center"> جزئیات </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.UserWalletVM.WalletHistory.Any())
                        {
                            @foreach (var item in Model.UserWalletVM.WalletHistory.Take(6))
                            {
                                <tr>
                                    <td class="text-center"> @item.TrackingCode </td>
                                    <td class="text-center"> @item.TransactionAmount.ToToman() </td>
                                    <td class="text-center"> @item.CreateDate.ToShamsi() </td>
                                    <td class="text-center"> @item.State </td>
                                    <td class="text-center">
                                        <button asp-page="Details" asp-route-Id="@item.Id" class="btn btn-primary"> مرور </button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <h1 class="h4 text-center alert alert-info">موردی ای موجود نمی باشد</h1>
                        }
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>