@page
@model FS.FruitStore.Pages.Admin.Users.IndexModel
@{
    ViewData["Title"] = "مدیریت کاربر";
}

<div class="row">

    <partial name="_Panel" />

    <div class="col-lg-9 col-12">
        <div class="card my-5 pb-4 text-center">
            <div class="card-header d-flex">
                <h4 class="h4 text-center m-auto"> مدیریت کاربران </h4>
            </div>

            <div class="card-body">
                <div class="card mb-3 shadow">
                    <div class="card-body">
                        @if (Model.UsersListViewModel.ApplicationUserList.Any())
                        {
                            <table class="table table-light table-hover table-responsive-sm table-striped table-bordered ">
                                <thead class="thead-light text-center">
                                    <tr>
                                        <th class="text-center"> نام</th>
                                        <th class="text-center"> نام خانوادگی </th>
                                        <th class="text-center"> شماره تلفن </th>
                                        <th class="text-center"> نقش </th>
                                        <th class="text-center">   </th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    @foreach (var item in @Model.UsersListViewModel.ApplicationUserList)
                                    {
                                        <tr>
                                            <td class="text-center"> @item.Name </td>
                                            <td class="text-center"> @item.LastName </td>
                                            <td class="text-center"> @item.PhoneNumber </td>
                                            <td class="text-center">
                                                @{
                                                    //نقش کاربر عادی رو بگیر
                                                    var role = Model._userManager.GetRolesAsync(new IdentityUser() { Id = item.Id }).Result[0].ToString();
                                                }
                                                @role
                                            </td>
                                            <td class="text-center">
                                                <a asp-route-userId="@item.Id" asp-page="Delete"> <i class="fa fa-trash"></i> </a>
                                                <a asp-route-userId="@item.Id" asp-page="Edit"> <i class="fa fa-edit"></i> </a>
                                                <a asp-route-userId="@item.Id" asp-page="Details"> <i class="fa fa-list"></i> </a>
                                            </td class="text-center">
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h1 class="text-info class="text-center"">کاربری یافت نشد</h1>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#imgUp").change(function () {
            readURL(this);
        });
    </script>
    }