@page
@model IndexModel
@{
    ViewData["Title"] = "خانه";
}
<div class="container mt-5">
    <section class="home">
        <div class="slider">
            @foreach (var item in Model.Sliders)
            {
                <div class="slide active" style="background-image: url('img/@item.Img');">
                    <div class="container">
                        <div class="caption">
                            <a href="@item.Link">@item.Caption</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="controls">
            <div class="next"><i class="fas fa-chevron-right"></i></div>
            <div class="prev"><i class="fas fa-chevron-left"></i></div>
        </div>
        <div class="indicator"></div>
    </section>
</div>

<h2 class="mt-5 mb-4">
    محصولات <a href="~/AllProducts" class="font-weight-bold text-success" style="font-size: 16px !important"> همه محصولات </a>
</h2>
<div class="row">
    @if (Model.Product.Any())
    {
        @foreach (var item in Model.Product.Take(16))
        {
            <div class="col-lg-3 col-md-3 col-12 my-2">
                <a asp-page="Product-Details" asp-route-Id="@item.ProductId">
                    <div class="card product-box">
                        <div class="mother-imageBox">
                            <img class="card-img-top" src="~/ProductImages/@item.ProductPic" alt="this is a img" height="250px">
                        </div>
                        <div class="card-body product-box-body">
                            <h5 class="card-title h5 text-center text-success" style="font-size: 18px; font-weight: 600;">
                                @item.Name
                            </h5>
                            <p class="h6 text-primary text-center" style="font-weight: 600"> @item.Price.ToToman() </p>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
    else
    {
        <h4 class="m-auto alert alert-warning"> محصولی وجود ندارد </h4>
    }
</div>
<a href="~/AllProducts" class="text-orange mt-2 font-weight-bold text-center d-block"> مشاهده همه محصولات </a>
<!-- #region Our Services-->
@if (Model.BenefitBars.Any())
{
    <div class="our-services">
        <div class="container">
            <div class="row d-flex justify-content-lg-around flex-wrap services-box">
                @foreach (var item in Model.BenefitBars)
                {
                    <div class="d-flex mx-3 justify-content-center align-items-center">
                        <img src="~/Preferences/@item.Img" width="40px" height="40px" class="rounded">
                        <h6 class="mr-1"> @item.Text </h6>
                    </div>
                }
            </div>
        </div>
    </div>
}
<!-- #endregion -->
