@page
@model FS.FruitStore.Pages.Admin.WalletManagement.IndexModel
@{
    ViewData["Title"] = "مدیریت کیف پول";
}
<div class="row">
    <!-- #region پنل-->
    <partial name="_Panel" />
    <!-- #endregion -->
    <div class="col-lg-9 col-12 mt-5">
        <div class="card">
            <div class="card-header">
                <h2 class="text-dark text-center"> کیف پول </h2>
            </div>
            <div class="card-body pt-2">
                <h3 class="text-dark h3 mt-3 mb-4 text-center">تاریخچه تراکنش های کیف پول کاربران </h3>
                <table class="table table-bordered table-hover table-striped table-responsive-sm">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center"> نام </th>
                            <th class="text-center"> مبلغ </th>
                            <th class="text-center"> تاریخ </th>
                            <th class="text-center"> نوع </th>
                            <th class="text-center"> چزئیات </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.WalletHistory.Any())
                        {
                            @foreach (var item in Model.WalletHistory.Take(6))
                            {
                                <tr>
                                    <td class="text-center"> @item.User.Name @item.User.LastName </td>
                                    <td class="text-center"> @item.TransactionAmount.ToToman() </td>
                                    <td class="text-center"> @item.CreateDate.ToShamsi() </td>
                                    <td class="text-center"> @(item.State ? "شارژ" : "خرید") </td>
                                    <td class="text-center">
                                        <a asp-page="Details" asp-route-Id="@item.Id" class="btn btn-primary"> مرور </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <h1 class="h4 text-center alert alert-info">موردی ای موجود نمی باشد</h1>
                        }
                        

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>