@page
@model FS.FruitStore.Pages.Admin.Units.IndexModel
@{
    ViewData["Title"] = "مدیریت واحد";
}
<div class="row">
    <partial name="_Panel" />


    <div class="col-lg-9 col-12">
        <div class="card mt-4">
            <div class="card-header d-flex">
                <a class="btn btn-purple text-right" href="Units/Create">
                     <i class="fa fa-plus"></i> ایجاد 
                </a>
                <h4 class="h4 text-center m-auto"> مدیریت واحدها </h4>
            </div>
            <form method="post">
                <div class="card-body">

                    <table class="table table-light table-striped table-border table-responsive-sm">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center"> نام </th>
                                <th class="text-center"> مدیریت </th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Unit.Any())
                            {
                                @foreach (var item in @Model.Unit)
                                {
                                    <tr>
                                        <td class="text-center"> @item.Name </td>
                                        <td class=" text-center">
                                            <button asp-page-handler="Remove" type="submit" class="align-middle btn text-primary mr-n2" asp-route-Id="@item.Id"><i class="fa fa-trash"></i></button>

                                            <a asp-page="Details" asp-route-Id="@item.Id" class="align-middle btn text-primary mr-n2">
                                                <i class="fa fa-list"></i>
                                            </a>
                                            <a asp-page="Edit" asp-route-Id="@item.Id" class="align-middle btn text-primary mr-n2">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <h1 class="h1 alert alert-info text-center">موردی وجود ندارد</h1>
                            }

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>