@page
@model FS.FruitStore.Pages.Admin.Preferences.ContactWays_Management.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ContactWays</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactWays.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactWays.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactWays.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactWays.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactWays.Icon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactWays.Icon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactWays.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactWays.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactWays.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactWays.CreateDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ContactWays.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
