@page
@model FS.FruitStore.Pages.Admin.Preferences.ContactWays_Management.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ContactWays</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactWays.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactWays.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactWays.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactWays.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactWays.Icon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactWays.Icon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactWays.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactWays.IsDeleted)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactWays.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactWays.CreateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ContactWays.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
