@page
@model FS.FruitStore.Pages.Payments.ConfirmInformationModel
@{
    ViewData["Title"] = "تایید اطلاعات";
}
<div class="card-body">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <label class="my-2"> گیرنده : </label>
                <label class="text-muted form-control form-control-information w-75 mt-2"> @Model.CIModel.ApplicationUser.Name @Model.CIModel.ApplicationUser.LastName </label>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <span class="text-danger font-weight-bold"></span>
                <label class="my-2"> آدرس : <span class="text-danger align-middle d-inline">*</span></label>
                <textarea requierd asp-for="CIModel.ApplicationUser.Address" class="form-control form-control-information"
                          cols="5"> explicabo quis quo optio. </textarea>
            </div>
            <div class="col-lg-6 col-12 my-sm-2 my-lg-0 col-md-6">
                <label class="my-2"> تلفن همراه : <span class="text-danger align-middle d-inline">*</span></label>
                <input requierd asp-for="CIModel.ApplicationUser.PhoneNumber" type="text" class="form-control form-control-information w-75"
                       placeholder="01235447891">

                <label class="my-2"> تاریخ دریافت </label>
                <select asp-for="CIModel.SelectedDeliverDate" asp-items="@Model.CIModel.DeliverDate" class="custom-select"> </select>



            </div>

            <div class="col-lg-6 col-12 my-sm-2 my-lg-0 col-md-6">
                <label class="my-2 "> کد پستی : <span class="text-danger align-middle d-inline">*</span></label>
                <input requierd asp-for="CIModel.ApplicationUser.PostalCode" type="text" class="form-control form-control-information w-75">

                <label class="my-2"> نوع پرداخت </label>
                <select asp-for="CIModel.SelectedPaymentType" asp-items="@Model.CIModel.PaymentTypes" class="custom-select"> </select>



                <label class="my-2"> زمان دریافت محصول </label>
                <select asp-for="CIModel.SelectedDeliverTime" asp-items="@Model.CIModel.DeliverTime" class="custom-select"></select>
            
            
            </div>
        </div>

        <div class="my-3">
            <button type="submit" class="btn btn-block btn-info d-block m-auto btn-info-information">
                ثبت اطلاعات و ادامه
                خرید
            </button>
        </div>

        <div class="row">

            <div class="col-lg-12 col-md-12 col-12">
                <label class="my-2"> توضیحات برای سفارش (اختیاری) </label>
                <textarea asp-for="CIModel.Description" class="form-control form-control-information" rows="4"></textarea>
            </div>

            <a class="btn btn-secondary mt-3 pr-2 d-block mx-auto btn-block w-75" href="ShoppingCart"> بازگشت به سبد خرید </a>
    </form>
</div>
